@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);

  --ff: "Manrope", sans-serif;
  --fw: 800;
}

body {
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 33.75rem;
  height: 20.75rem;
  box-shadow: 30px 50px 80px 0px hsla(0, 0%, 0%, 0.1);
  background-color: var(--dark-grayish-blue);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 3rem 3rem 0 3rem;
}

h1 {
  font-family: var(--ff);
  font-weight: var(--fw);
  color: var(--neon-green);
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 4.09px;
  margin-bottom: 1.5rem;
}

h1 span {
  text-transform: uppercase;
}

p {
  font-size: 1.75rem;
  font-family: var(--ff);
  font-weight: var(--fw);
  color: var(--light-cyan);
  line-height: 38.25px;
  letter-spacing: -0.3px;
  text-align: center;
  margin-bottom: 2.5rem;
}

.divider {
  height: 1rem;
  width: 100%;
  background: url("/images/pattern-divider-desktop.svg");
}

.dye {
  border-radius: 50%;
  background-color: var(--neon-green);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 252px;
  cursor: pointer;
}

.dye:hover {
  box-shadow: hsl(150, 100%, 66%, 0.5) 0px 0px 25px 0px;
}

@media (max-width: 768px) {
  .container {
    width: 343px;
    height: 315px;
    padding: 1.5rem 1.5rem 0 1.5rem;
    border-radius: 10px;
  }

  h1 {
    font-size: 11px;
    line-height: 15.03px;
    letter-spacing: 3.46px;
    margin-bottom: 1rem;
  }

  p {
    font-size: 24px;
    line-height: 32.78px;
    letter-spacing: -0.26px;
    margin-bottom: 1rem;
  }

  .divider {
    height: 1rem;
    width: 100%;
    background: url("./images/pattern-divider-mobile.svg");
    margin-bottom: 2rem;
  }

  .dye {
    margin-top: 259px;
  }
}
